<?xml version="1.0"?>
<!--TODO
	Scenario for the Single-Service deployment (simple)
	1. Specify the alias for the service type under configuration/unity/typeAliases
	2. Specify the type in the default container under configuration/unity/containers/container/types
	3. Change the ServiceName and DisplayName for the service under configuration/unity/containers/container/types/type[type='Installer' and mapTo='ServiceInstaller']
	NOTE: do not forget to uncomment configured nodes
-->
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="ILibrary.UniHost.log" footer="" formatter="Text Formatter" header="" rollInterval="Week" rollSizeKB="1024" maxArchivedFiles="10"/>
			<add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp}: {message}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<unity>
		<typeAliases>
			<!--***** Service defenition *****-->
			<!--<typeAlias alias="<TheAliasForTheServiceToHost>" type="<FullNameOfTheServiceClass>"/>-->
			<!--*********************-->
			<!--***** System classes *****-->
			<typeAlias alias="string" type="System.String, mscorlib"/>
			<typeAlias alias="Installer" type="System.Configuration.Install.Installer, System.Configuration.Install"/>
			<typeAlias alias="ServiceBase" type="System.ServiceProcess.ServiceBase, System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<typeAlias alias="ServiceProcessInstaller" type="System.ServiceProcess.ServiceProcessInstaller, System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<typeAlias alias="ServiceInstaller" type="System.ServiceProcess.ServiceInstaller, System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<typeAlias alias="ServiceAccount" type="System.ServiceProcess.ServiceAccount, System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<!--*********************-->
		</typeAliases>
		<containers>
			<container>
				<types>
					<!--***** Services to host (the class should inherited from the ServiceBase) *****-->
					<!--<type type="ServiceBase" mapTo="<TheAliasForTheServiceToHost>" name="<Name>"/>-->
					<!--*********************-->
					<!--***** Installer defenition*****-->
					<type type="Installer" mapTo="ServiceProcessInstaller" name="defaultInstaller">
						<property name="Account" propertyType="ServiceAccount" value="LocalSystem"/>
					</type>
					<type type="Installer" mapTo="ServiceInstaller" name="default">
						<property name="ServiceName" propertyType="string" value="_ServiceName"/>
						<property name="DisplayName" propertyType="string" value="_ServiceName"/>
					</type>
					<!--*********************-->
				</types>
			</container>
		</containers>
	</unity>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
